@import url("https://use.typekit.net/xnx2cip.css");
body{
    margin: 10%;
    font-family: neue-kabel, sans-serif;
    color: #252525;
}
#dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    animation: dotanimation 1.5s infinite;
}

@keyframes dotanimation {
    from{background-color: #E53170;}
    to{background-color: white;}
}
#frontend{
    color: #E53170;
}
#dev{
    color: #F25F4C;
}
#designer{
    color: #FF8906;
}
#dot2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    animation: dotmove 3s infinite;
    background-color: #F25F4C;
}

@keyframes dotmove {
    0%{margin-left: 2%;}
    25%{margin-left: 50%;}
    50%{margin-left: 2%;}
    75%{margin-left: 95%;}
    100%{margin-left: 2%;}
}
#loadingSection{
    margin-top: 100px;
}
#loadingLine{
    background-color: #fff5f3;
    padding: 2%;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
}
#loading{
    text-align: center;
}
#mainMenu{
    text-align: center;
}